<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18660834193-lboaie1hhh0rplcqtpkdplfrvjatmmi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18660834193-lboaie1hhh0rplcqtpkdplfrvjatmmi4</string>
	<key>API_KEY</key>
	<string>AIzaSyDah5AjbAWD-CeldVY8o5rEN2p6e8PQPoE</string>
	<key>GCM_SENDER_ID</key>
	<string>18660834193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alanturker.FireBaseChatAppViper</string>
	<key>PROJECT_ID</key>
	<string>chatappviper</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappviper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18660834193:ios:3ee44af7a73900ad75b830</string>
</dict>
</plist>